vllm==0.10.2
lmcache==0.3.7
litellm==1.75.5.post2
datasets
matplotlib
aiohttp
requests
pyyaml
rich
python-dotenv
typer
platformdirs
textual
prompt_toolkit
tenacity
cmake
ninja
packaging
setuptools==79.0.1
setuptools-scm>=8
wheel
jinja2
